html, body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

:root {
  --alias-color: rgb(91, 112, 131);
  --border-color: rgb(235, 238, 240);
  --button-hover-color: rgb(235, 245, 254);
  --button-text-color: rgb(255, 255, 255);
  --items-hover-color: rgb(235, 245, 254);
  --main-color: rgb(29, 161, 242);

  --border-radius: 9999px;
  --font-weight: 700;
  --font-weight-2: 800;
  --transition-duration: 0.2s;

  --pad-size-1: 4px;
  --pad-size-2: 8px;
  --pad-size-3: 12px;
  --pad-size-4: 16px;
  --pad-size-5: 20px;
}